@charset "utf-8";

html,body {
padding: 50px;
position: center;
}

img {
border: 0px;
}

#container{
width: 1080px;
background-color: #	FFFFFF;
}

#header{
}

#navi{
width: 300px;
height: 600px;
float: left;
background-color:  #FFFFFF;
font-size: 12px;
color: #000000;
font-family:’Arial’,’Tahoma’, sans-serif;
letter-spacing: 1px;
text-align: center;
}

#contents{
width: 780px;
height: 600px;
margin-left: 300px;
background-color:  #FFFFFF;
font-size: 12px;
color: #000000;
font-family:’Arial’,’Tahoma’, sans-serif;
letter-spacing: 1px;
padding-left: 10px;
}

#footer{
width: 1080px;
height: 60px;
background-color:  #FFFFFF;
font-size: 12px;
color: #000000;
font-family:’Arial’,’Tahoma’, sans-serif;
letter-spacing: 1px;
text-align: center;
}

.text1{
padding-bottom: 30px;
}

img.i1{
width: 300px;
}
